.nav{
    width: 80%;
    position: fixed;
    left:20vw;
    height:10vh;
    float: right;
    padding: 5px 10px;
    
    /* background-color: rgb(3, 93, 248); */
    box-shadow: 2px 2px 5px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(45deg,rgb(0, 217, 255), rgb(7, 239, 162));
}
.nav-left{
    float: left;
    /* width: 32%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-left: 20%; */

}
.nav-left a{
    text-decoration: none;
    padding: 2px 10px ;
    border-radius: 20px;
    height: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 2px 10px black;
    margin-left: 10px;
    color:black;
}
.nav-left a:hover{
    transform: scale(1.05);
    color:black;
}
.nav-right{
    float: right;
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
